@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 300 800;
    font-display: swap;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;    /*Fixes footer on small screens*/
    font-weight: 300;
}

h1{
    font-size: 48px;
    font-weight: 600;
}

h2 {
    font-weight: 300;
}

.title-top{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: -1.5rem;
    margin-top: 2rem;
}

.title-bottom{
    font-size: 100px;
    font-weight: light;
    letter-spacing: -.15rem;
    margin-bottom: -1rem;
}

.title-top{
    visibility: hidden;
}

.title-top.is-visible {
    visibility: visible;
}

.row{
    text-align: center;
}

button, button:focus, input{
    border: solid 1px black;
}

.col{
    max-width: 600px;
    margin: auto;
}

.jumbotron{
    padding: 2rem;
}

.page-footer{
    background-color: rgb(233, 233, 233);
    font-weight: 300;
}

@media only screen and (max-width: 767px) {
    .title_top{
        font-size: 20px;
    }
    .title_bottom{
        font-size: 80px;
    }
}

@media only screen and (max-width: 480px) {
    .title_top{
        font-size: 15px;
    }
    .title_bottom{
        font-size: 60px;
    }
}
